# Core Dependencies
PyQt6
PyQt6-WebEngine
pyside6
requests
python-dotenv
pycryptodome
pymongo
firebase-admin
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
fastapi
uvicorn
numpy
pandas
matplotlib
plotly
scikit-learn
sentence-transformers
pillow
PyPDF2
python-docx
openai  # For OpenAI API integration
